#menu {
  display: none;
}

#placeOrder {
  display: none;
}

#showOrder {
  display: none;
}

#contact {
  display: none;
}

.wrapper {
  margin-top: 200px;
}

.jumbotron {
  background-image: url(../img/lhHeader.jpg);
  background-size: 100% 100%;
}

body {
  /*background-image: url(../img/lh.gif);
  background-repeat: no-repeat;*/
}

.lhBG {
  height: 500px;
  width: 500px;
  float: right;
}
